{% extends 'bootstrap/base.html.twig' %}

{% block body %}

    <div class="jumbotron">
      <h1 class="display-4">Benvid@ á miña biblioteca!</h1>
      <p class="lead">Aquí vas encontrar todos os libros que teño</p>
      <hr class="my-4">
      <p>Queres coñecela? (Tarefa UD 8). Fai clic aquí!.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/explorar" role="button">Explorar</a>
      </p>
    </div>
  </body>
</html>

{% endblock %}

