{# OJO! Cuando se hereda de una plantilla
todo el contenido debe estar dentro de bloques! #}
{% extends 'base.html.twig' %}
{% block title %} Página herencia{% endblock %}
{% block body %}
<h1>{{ title | upper }}</h1>
<div>
<ul>
{% for producto in productos %}
<li> {{ producto.descripcion }} - {{ producto.precio }} </li>
{% endfor %}
</ul>
</div>
{% endblock %}
    {#
    {{% %}} “Hacer algo”: se usa cuando se quiere realizar alguna sentencia itera􀆟va, selec􀆟va, etc. 
    {{ }} “Decir algo”: esta e􀆟queta imprime cualquier cosa, una variable, una cadena o una expresión compleja.
    #}